<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pm25數值查詢</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/5.2.0/echarts.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        #main {
            background-color: aquamarine;
            width: 1024px;
            height: 400px;
        }
    </style>

</head>

<body>
    <h1>Taiwan PM2.5</h1>
    <div id="main"></div>
    <script>

        const chart1 = echarts.init(document.querySelector('#main'));

        $(document).ready(() => {
            drawPM25();
        });

        function drawPM25() {

            $.ajax(
                {
                    url: "/pm25-data",
                    type: "POST",
                    dataType: "json",
                    success: (data) => {
                        console.log(data);
                        var option = {
                            title: {
                                text: '全台pm2.5'
                            },
                            tooltip: {},
                            legend: {
                                data: ['pm2.5數值']
                            },
                            xAxis: {
                                data: data['site']
                            },
                            yAxis: {},
                            series: [
                                {
                                    name: 'PM2.5',
                                    type: 'bar',
                                    data: data['pm25']
                                }
                            ]
                        };


                        chart1.setOption(option);
                    },
                    error: () => alert('讀取失敗')
                }
            );
        }
    </script>
</body>

</html>